.lk_container{
    width: min(60%, 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    text-align: center;
}
.user{
    padding: 1rem;
    width: 100%;
}
.info_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    margin-top: 1rem;
}
