.wrapper{
    justify-content: start;
    padding-top: 0;
}

.classification{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.classification_title{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    z-index: 7;
}

.odd{
    height: 100%;
    width: 50%;
    border-right: 2px solid black;
}

.even{
    height: 100%;
    width: 50%;
    border-left: 2px solid black;
}
